body{
    background:#333 url(../images/bg.jpg) fixed top left;
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    text-shadow: 0 0 10px black;
}
span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:12px;
}
span.reference a{
    color:#aaa;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:1px 1px 1px #000;
    margin-right:30px;
}
span.reference a:hover{
    color:#ddd;
}
ul.sdt_menu{
    margin-top:150px;
}
h1.title{
    color:#fff;
    font-size:24px;
    margin-left: 20%;
    margin-top: 2%;
    clear:both;
    width:633px;
    height:69px;
}

.box {
    margin: auto;
    padding: 3px;
    width:60%;
    background: rgba(255, 255, 255, 0.3); /*цвет фона внутри  */
    font-size: 16px;/* размер шпифта */
    border-radius: 6px;/* рамка */
    box-shadow: 1px 1px 0 2px rgba(0, 0, 0, .8);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.box h2{
    margin: auto;
    margin-bottom: 3px;
    padding: 3px;
    color:#fff;
    width:100%;
    background: rgba(255, 255, 255, 0.3); /*цвет фона внутри  */
    text-align: center;
    font-size: 24px;/* размер шпифта */
    border-radius: 6px;/* рамка */
    box-shadow: 0px 0px 0 1px rgba(0, 0, 0, .8);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.column{
    display: inline-block;
    margin: auto;
    padding-left: 15px;
    padding-top: 5px;
}
.column span{
    padding: 10px;
}

.column input[type="text"]{font: 16px 'Muli', sans-serif;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}