*{
    font-family:"Myriad Pro", "Trebuchet MS", sans-serif;
    text-shadow: 2px 0 1px black, 2px 0 1px black;
    font-size: 16px;
}

body{
    background:#333 url(../images/bg.jpg) fixed top left;
}

::-webkit-validation-bubble-message {
    padding: 1em;
}


span.reference{
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:12px;
}
span.reference a{
    color:#aaa;
    text-transform:uppercase;
    text-decoration:none;
    text-shadow:1px 1px 1px #000;
    margin-right:30px;
}
span.reference a:hover{
    color:#ddd;
}
ul.sdt_menu{
    margin-top:150px;
}
h1.title{
    color:#fff;
    font-size:24px;
    margin-left: 20%;
    margin-top: 2%;
    clear:both;
    width:633px;
    height:69px;
}

.box {
    margin: auto;
    padding: 3px;
    width: auto;
    max-width: 80%;
    background: rgba(255, 255, 255, 0.3); /*цвет фона внутри  */
    font-size: 16px;/* размер шпифта */
    border-radius: 6px;/* рамка */
    box-shadow: 1px 1px 0 2px rgba(0, 0, 0, .8);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.box h2{
    margin: auto;
    margin-bottom: 3px;
    padding: 3px;
    color:#fff;
    width:100%;
    background: rgba(255, 255, 255, 0.3); /*цвет фона внутри  */
    text-align: center;
    font-size: 24px;/* размер шпифта */
    border-radius: 6px;/* рамка */
    box-shadow: 0px 0px 0 1px rgba(0, 0, 0, .8);
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.column{
    display: inline-block;

    padding-left: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.column span{
    display: block;
    width: 100%;
    color: white;
    text-align: center;
}

.column input[type="text"]{
    font: 16px 'Muli', sans-serif;
    text-shadow: 0px 0 0px black, 0px 0 0px black;
    margin: auto;
    color: #333;
    width: 100%;
    box-sizing: border-box;
    border-radius: 6px;
}

.column input:focus:invalid, .column input:required:invalid { /* when a field is considered invalid by the browser */
    background: white url(../images/icons/required.png) no-repeat 98% center;
    background-size: 16px;
    box-shadow: 0 0 5px #d45252;
    border-color: #b03535
}

.column input:focus:valid, .column input:required:valid{ /* when a field is considered invalid by the browser */
    background: white url(../images/icons/accepted.png) no-repeat 98% center;
    background-size: 16px;
    box-shadow: 0 0 5px green;
    border-color:greenyellow;
}


.delete_pipe_button {
    border-radius: 6px;
    text-shadow: 0px 0 0px black, 0px 0 0px black;
    color: red;
    background: rgba(0,0,0,0.2);
    float: right;
    position: relative;
    margin-top: 3px;
    margin-right: 3px;
}

#create_pipe_button  {
    width: 100%;
    text-shadow: 0px 0 0px black, 0px 0 0px black;
    margin-top: 3px;
    margin-bottom: 3px;
    border-radius: 6px;

}
